<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/css/fonts/stylesheet.css' %}" type="text/css" charset="utf-8" />
</head>
<body style="background-color: #0E1621">
  <p style="margin-bottom: 0"><img src="{% static '/image/Up_Panel.png' %}" style="width:100%"></p>
  <nav class="navbar navbar-expand navbar-dark bg-primary" style="font-family: 'fortnite_battlefest', Arial, sans-serif; font-size: 35px; height: 40px; background-color: #264C7F !important">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="position: absolute;transform: translatex(-50%); left: 50%; color:#FFFFFF">
        <a class="nav-item nav-link" href="/" style="color:#FFFFFF; letter-spacing: 0.02em;">Главная</a>
        <a class="nav-item nav-link" href="/shop" style="color:#FFFFFF; letter-spacing: 0.02em;">Магазин</a>
        <a class="nav-item nav-link" href="/items" style="color:#FFFFFF; letter-spacing: 0.02em;">Шкафчик</a>
        <a class="nav-item nav-link" href="/challenges" style="color:#FFFFFF; letter-spacing: 0.02em;">Испытания</a>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
