{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}Контакт{% endblock %}
{% block description %}<meta name="description" content="Здесь вы можете написать ваши предложения.">{% endblock %}
{% block content %}

<div class="row">
  <div class="col-12">
    <h1 class="text-center" style="font-family: 'fortnite_battlefest', sans-serif; color: white; margin-top:0px; margin-bottom: 0px; letter-spacing: 0.02em;">ПРИВЕТ! ЕСЛИ ТЫ НАШЁЛ БАГ, ОШИБКИ ИЛИ ХОЧЕШЬ ПРЕДЛОЖИТЬ НОВОВВЕДЕНИЕ НА САЙТЕ, НАПИШИ СЮДА!</h1>
  </div>
</div>

<div class="row" style="color:white">
  <div class="col-10 col-xl-5 offset-1" style="margin-right:8.333333%">
    <form action="/contact" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Ваше Имя</label>
        <input name="name" class="form-control" id="nameInput">
      </div>
      <div class="form-group">
        <label for="email">Адрес электронной почты (обязательно)</label>
        <input name="email" type="email" class="form-control" id="emailInput" required="required">
      </div>
      <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea name="message" class="form-control" id="messageInput" rows="5" required="required"></textarea>
      </div>
      <div class="form-group">
        <label for="files">Прикрепить изображение</label>
        <input name="file" accept="image/*" type="file" class="form-control-file" id="fileInput" multiple>
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>
</div>

{% endblock %}
