{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="container-fluid" style="width:60%;margin-left:20%;">
    <div class="row justify-content-center" style="">
      <div class="col-12 col-xl-6" style="padding-right: 0px;padding-left: 0px;">
        <div class="btn-group d-none d-md-flex" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;margin-right:5px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:315px;background-color: #264C7F !important; border-radius: 0px;">
            Тип предмета: {{ type }}
          </button>
          <div class="dropdown-menu" style="width:100%;background-color: #264C7F;">
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'all');">Все</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'skin');">Экипировка</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'pickaxe');">Кирка</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'backpack');">Украшение на спину</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'pet');">Питомец</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'emote');">Эмоция</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'glider');">Дельтаплан</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'wrap');">Обёртка</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'music');">Музыка</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'trail');">Воздушный след</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6" style="padding-right: 0px;padding-left: 0px;">
        <div class="btn-group d-none d-md-flex" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;margin-right:5px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:315px;background-color: #264C7F !important; border-radius: 0px;">
            Источник: {{ source }}
          </button>
          <div class="dropdown-menu" style="width:100%;background-color: #264C7F">
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'all');">Все</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pack');">Стартовый набор</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'exclusive');">Эксклюзив</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'shop');">Магазин предметов</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass');">Все боевые пропуски</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass1');">Боевой пропуск 1 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass2');">Боевой пропуск 2 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass3');">Боевой пропуск 3 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass4');">Боевой пропуск 4 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass5');">Боевой пропуск 5 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass6');">Боевой пропуск 6 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass7');">Боевой пропуск 7 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass8');">Боевой пропуск 8 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass9');">Боевой пропуск 9 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass10');">Боевой пропуск 10 сезона</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass11');">Боевой пропуск 11 сезона</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6" style="padding-right: 0px;padding-left: 0px;">
        <div class="btn-group d-none d-md-flex" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;margin-right:5px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:315px;background-color: #264C7F !important; border-radius: 0px;">
            Редкость: {{ rarity }}
          </button>
          <div class="dropdown-menu" style="width:100%;background-color: #264C7F">
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'all');">Все</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'leg');">Легендарная</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'epic');">Эпическая</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'rare');">Редкая</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'uncom');">Необычная</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'common');">Обычная</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'starwars');">Серия «Звёздные войны»</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'dc');">Серия DC</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'star');">Звёздная серия</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'evil');">Зловещая серия</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'marvel');">Серия Марвел</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'ghost');">Призрачная серия</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'lava');">Лавовая серия</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'ice');">Ледяная серия</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6" style="padding-right: 0px;padding-left: 0px;">
        <div class="btn-group d-none d-md-flex" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;margin-right:5px;">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:315px;background-color: #264C7F !important; border-radius: 0px;">
            Количество предметов: {{ amount }}
          </button>
          <div class="dropdown-menu" style="width:100%;background-color: #264C7F;">
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', '100');">100</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', '500');">500</a>
            <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', 'all');">Все</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-none d-md-inline">
      {% include "skin_list.html" %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="btn-group d-md-none" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:14px;width:280px;background-color: #264C7F !important; border-radius: 0px;">
        Тип предмета: {{ type }}
      </button>
      <div class="dropdown-menu" style="width:100%;background-color: #264C7F;">
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'all');">Все</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'skin');">Экипировка</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'pickaxe');">Кирка</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'backpack');">Украшение на спину</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'pet');">Питомец</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'emote');">Эмоция</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'glider');">Дельтаплан</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'wrap');">Обёртка</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'music');">Музыка</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('type', 'trail');">Воздушный след</a>
      </div>
    </div>
    <div class="btn-group d-md-none" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:14px;width:280px;background-color: #264C7F !important; border-radius: 0px;">
        Источник: {{ source }}
      </button>
      <div class="dropdown-menu" style="width:100%;background-color: #264C7F">
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'all');">Все</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pack');">Стартовый набор</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'exclusive');">Эксклюзив</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'shop');">Магазин предметов</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass');">Все боевые пропуски</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass1');">Боевой пропуск 1 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass2');">Боевой пропуск 2 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass3');">Боевой пропуск 3 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass4');">Боевой пропуск 4 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass5');">Боевой пропуск 5 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass6');">Боевой пропуск 6 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass7');">Боевой пропуск 7 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass8');">Боевой пропуск 8 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass9');">Боевой пропуск 9 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass10');">Боевой пропуск 10 сезона</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('source', 'pass11');">Боевой пропуск 11 сезона</a>
      </div>
    </div>
    <div class="btn-group d-md-none" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:14px;width:280px;background-color: #264C7F !important; border-radius: 0px;">
        Редкость: {{ rarity }}
      </button>
      <div class="dropdown-menu" style="width:100%;background-color: #264C7F">
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'all');">Все</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'leg');">Легендарная</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'epic');">Эпическая</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'rare');">Редкая</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'uncom');">Необычная</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'common');">Обычная</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'starwars');">Серия Звездные Войны</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'dc');">Серия DC</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'star');">Звёздная серия</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'evil');">Зловещая серия</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'marvel');">Серия Марвел</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'ghost');">Призрачная серия</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'lava');">Лавовая серия</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('rarity', 'ice');">Ледяная серия</a>
      </div>
    </div>
    <div class="btn-group d-md-none" style="font-family: 'Roboto', sans-serif;padding: 5px 0px;margin-left:5px;">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-size:14px;width:280px;background-color: #264C7F !important; border-radius: 0px;">
        Количество предметов: {{ amount }}
      </button>
      <div class="dropdown-menu" style="width:100%;background-color: #264C7F;">
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', '100');">100</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', '500');">500</a>
        <a class="dropdown-item" href="javascript:addOrUpdateUrlParam('amount', 'all');">Все</a>
      </div>
    </div>
  </div>
  <div class="row d-md-none">
    {% include "skin_list.html" %}
  </div>
{% endblock %}
