{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
  <div class="container-fluid" style="width:98%;">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-family: 'Roboto', sans-serif; background-color: #264C7F !important; border-color: #264C7F !important">
        Тип предмета
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/all/">Все</a>
        <a class="dropdown-item" href="/skin/">Экипировка</a>
        <a class="dropdown-item" href="/pickaxe/">Кирка</a>
        <a class="dropdown-item" href="/backpack/">Украшение на спину</a>
        <a class="dropdown-item" href="/pet/">Питомец</a>
        <a class="dropdown-item" href="/emote/">Эмоция</a>
        <a class="dropdown-item" href="/glider/">Дельтаплан</a>
        <a class="dropdown-item" href="/wrap/">Обёртка</a>
        <a class="dropdown-item" href="/music/">Музыка</a>
        <a class="dropdown-item" href="/trail/">Воздушный след</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-family: 'Roboto', sans-serif; background-color: #264C7F !important; border-color: #264C7F !important">
        Боевой пропуск
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/pass/">Все</a>
        <a class="dropdown-item" href="/pass1/">Боевой пропуск 1 сезона</a>
        <a class="dropdown-item" href="/pass2/">Боевой пропуск 2 сезона</a>
        <a class="dropdown-item" href="/pass3/">Боевой пропуск 3 сезона</a>
        <a class="dropdown-item" href="/pass4/">Боевой пропуск 4 сезона</a>
        <a class="dropdown-item" href="/pass5/">Боевой пропуск 5 сезона</a>
        <a class="dropdown-item" href="/pass6/">Боевой пропуск 6 сезона</a>
        <a class="dropdown-item" href="/pass7/">Боевой пропуск 7 сезона</a>
        <a class="dropdown-item" href="/pass8/">Боевой пропуск 8 сезона</a>
        <a class="dropdown-item" href="/pass9/">Боевой пропуск 9 сезона</a>
        <a class="dropdown-item" href="/pass10/">Боевой пропуск 10 сезона</a>
        <a class="dropdown-item" href="/pass11/">Боевой пропуск 11 сезона</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="font-family: 'Roboto', sans-serif; background-color: #264C7F !important; border-color: #264C7F !important">
        Редкость
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/leg/">Легендарная</a>
        <a class="dropdown-item" href="/epic/">Эпическая</a>
        <a class="dropdown-item" href="/rare/">Редкая</a>
        <a class="dropdown-item" href="/uncom/">Необычная</a>
        <a class="dropdown-item" href="/common/">Обычная</a>
        <a class="dropdown-item" href="/starwars/">Серия Звездные Войны</a>
        <a class="dropdown-item" href="/dc/">Серия DC</a>
        <a class="dropdown-item" href="/star/">Звёздная серия</a>
        <a class="dropdown-item" href="/evil/">Зловещая серия</a>
        <a class="dropdown-item" href="/marvel/">Серия Марвел</a>
        <a class="dropdown-item" href="/ghost/">Призрачная серия</a>
        <a class="dropdown-item" href="/lava/">Лавовая серия</a>
        <a class="dropdown-item" href="/ice/">Ледяная серия</a>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="color:white;font-family:'Montserrat',sans-serif;">
      {% for cosmetic in Cosmetics %}
        {% if cosmetic.hidden == False %}
          {% if cosmetic.icon != "" %}
              <div class="col-sm" style="padding-right: 5px;padding-left: 5px;padding-top: 5px;padding-bottom: 5px;flex-grow: 0;">
                <div class="card text-center" style="width:360px; height:600px;background-color:{{ cosmetic.color2 }}">
                  <img src="{% static '' %}{{ cosmetic.icon }}" class="card-img-top" style="background-color: {{ cosmetic.color1 }};">
                  <div class="card-body" style="background-color:{{ cosmetic.color2 }};padding:1rem;">
                    <h5 class="card-title">{{ cosmetic.name }}</h5>
                    <p class="card-text" style="margin-bottom:5px;font-family: 'Montserrat Medium', sans-serif;">{{ cosmetic.description }}</p>
                  </div>
                  {% if cosmetic.price != "" %}
                    <div class="card-footer" style="height:60px;background-color:{{ cosmetic.color2 }};border-top:0px;padding:0px">
                            {% if "В-Баксов" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/vbuck.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price and cosmetic.free_pass %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar-silver.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar.png' %}">
                              </h5>
                            {% else %}
                              <h5 class="card-title" style="padding-left:20px; height:64px; margin-top:18px">
                                {{ cosmetic.price }}
                              </h5>
                            {% endif %}
                    </div>
                  {% endif %}
                  <div class="card-footer" style="background-color:{{ cosmetic.color3 }};border-top:0px;padding-top:7px;padding-bottom:0px">
                    <h5 class="card-title">{{ cosmetic.source }}</h5>
                  </div>
                </div>
              </div>
          {% elif cosmetic.featured != "" %}
              <div class="col-sm" style="padding-right: 5px;padding-left: 5px;padding-top: 5px;padding-bottom: 5px;flex-grow: 0;">
                <div class="card text-center" style="width:360px; height:600px">
                  <img src="{% static '' %}{{ cosmetic.featured }}" class="card-img-top" style="background-color:{{ cosmetic.color1 }};">
                  <div class="card-body" style="background-color:{{ cosmetic.color2 }};padding:1rem;">
                    <h5 class="card-title">{{ cosmetic.name }}</h5>
                    <p class="card-text" style="margin-bottom:5px;font-family: 'Montserrat Medium', sans-serif;">{{ cosmetic.description }}</p>
                  </div>
                  {% if cosmetic.price != "" %}
                    <div class="card-footer" style="height:60px;background-color:{{ cosmetic.color2 }};border-top:0px;padding:0px">
                            {% if "В-Баксов" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/vbuck.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price and cosmetic.free_pass %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar-silver.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar.png' %}">
                              </h5>
                            {% else %}
                              <h5 class="card-title" style="padding-left:20px; height:64px; margin-top:18px">
                                {{ cosmetic.price }}
                              </h5>
                            {% endif %}
                    </div>
                  {% endif %}
                  <div class="card-footer" style="background-color:{{ cosmetic.color3 }};border-top:0px;padding-top:7px;padding-bottom:0px">
                    <h5 class="card-title">{{ cosmetic.source }}</h5>
                  </div>
                </div>
              </div>
          {% elif cosmetic.smallIcon != "" %}
              <div class="col-sm" style="padding-right: 5px;padding-left: 5px;padding-top: 5px;padding-bottom: 5px;flex-grow: 0;">
                <div class="card text-center" style="width:360px; height:600px">
                  <img src="{% static '' %}{{ cosmetic.smallIcon }}" class="card-img-top" style="background-color:{{ cosmetic.color1 }};">
                  <div class="card-body" style="background-color:{{ cosmetic.color2 }};padding:1rem;">
                    <h5 class="card-title">{{ cosmetic.name }}</h5>
                    <p class="card-text" style="margin-bottom:5px;font-family: 'Montserrat Medium', sans-serif;">{{ cosmetic.description }}</p>
                  </div>
                  {% if cosmetic.price != "" %}
                    <div class="card-footer" style="height:60px;background-color:{{ cosmetic.color2 }};border-top:0px;padding:0px">
                            {% if "В-Баксов" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/vbuck.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price and cosmetic.free_pass %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar-silver.png' %}">
                              </h5>
                            {% elif "Уровень" in cosmetic.price %}
                              <h5 class="card-title" style="padding-left:20px; height:64px">
                                {{ cosmetic.price }}<img src="{% static 'image/battlepassstar.png' %}">
                              </h5>
                            {% else %}
                              <h5 class="card-title" style="padding-left:20px; height:64px; margin-top:18px">
                                {{ cosmetic.price }}
                              </h5>
                            {% endif %}
                    </div>
                  {% endif %}
                  <div class="card-footer" style="background-color:{{ cosmetic.color3 }};border-top:0px;padding-top:7px;padding-bottom:0px">
                    <h5 class="card-title">{{ cosmetic.source }}</h5>
                  </div>
                </div>
              </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
